@model IEnumerable<ComputerShop.Models.OrderSupply>
<div id="test">
    @{
        ViewBag.Title = "Typ dostawy";

    }

    <h2>@ViewBag.Title</h2>
    <hr />

    @{var add = "<span class=' glyphicon glyphicon-plus'></span>"; }
    @{var delete = "<span class=' glyphicon glyphicon-remove'></span>"; }
    @{var edit = "<span class=' glyphicon glyphicon-edit'></span>";}

    <p>
        <a class="btn btn-success" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#main" href="/OrderSupplies/Create">@Html.Raw(add)</a>
    </p>

    <table id="example" class="stripe">
        <thead>
            <tr>
                <th>
                    Lp.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>Akcje</th>
            </tr>
        </thead>
        @{ int i = 1;}
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a class="btn btn-success" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#main" href="/OrderSupplies/Edit/@item.OrderSupplyID">@Html.Raw(edit)</a>
                        <a class="btn btn-danger" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#main" href="/OrderSupplies/Delete/@item.OrderSupplyID">@Html.Raw(delete)</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

</div>
<link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>

<script>
    //var dataTable = $("#myTable").dataTable({"order": [[1,"asc"]]});

    function success() {
        $("#test").load(location.href + " #test");
        //dataTable.draw;

    }

    function successModal() {
        $("#test").load(location.href + "OrderProducts/IndexForAjax #test");
        $("#closeButton").click();

    }

    $(document).ajaxComplete(function () {
        var table = $('#example').DataTable();
        table.destroy();
        $('#example').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "lengthMenu": "Wyświetl _MENU_ rekordów na stronę",
                "zeroRecords": "Brak rekordów",
                "info": "Strona _PAGE_ z _PAGES_",
                "infoEmpty": "Rekordy są niedostępne",
                "infoFiltered": "(przefiltrowano z _MAX_ total records)",
                "search": "Szukaj",
                "paginate": {
                    "previous": "Poprzednia",
                    "next": "Następna",
                },
            }
        });
    });

    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "lengthMenu": "Wyświetl _MENU_ rekordów na stronę",
                "zeroRecords": "Brak rekordów",
                "info": "Strona _PAGE_ z _PAGES_",
                "infoEmpty": "Rekordy są niedostępne",
                "infoFiltered": "(przefiltrowano z _MAX_ total records)",
                "search": "Szukaj",
                "paginate": {
                    "previous": "Poprzednia",
                    "next": "Następna",
                },
            }
        });
    });
    $(window).unload(function () {
        console.log("help");
        table.destroy();
        console.log(table);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
