@model ComputerShop.Models.ApplicationUser
@{
    ViewBag.Title = "Ustawienia konta";
}

<h2 class="page-header">@ViewBag.Title</h2>


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
@using (@Ajax.BeginForm("Edit", "Manage", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Main" ,OnSuccess="success()"}))
{

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <button id="x" style="display: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Zrealizuj</button>

}

</div>


<div id="myModal" class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="myLargeModalLabel" tabindex="-1">
    <div class="modal-dialog modal-sm "style="width: 400px;" >

        <!-- Modal content-->
        <div class="modal-content modal-window">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeButton">&times;</button>
                <h4 class="modal-title">Komunikat</h4>
            </div>
            <div id="formularz">
                    <div class="modal-body">
                        Pomyślnie zapisano ustawienia konta.

                    </div>
                        <div class="modal-footer">
                            <button id="closeButton" type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                        </div>
            </div>
        </div>
    </div>
</div>


<script>
    function success() {
        $("#x").click();
        setTimeout(function () {
            $("#closeButton").click();
        }, 2000);
    }
</script>